services:
  app:
    container_name: api-app
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 3333:3333
    volumes:
      - ./:/app
    depends_on:
      - db

  db:
    container_name: db-app
    image: 'mysql'
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  db_data:
