name: Workflow treinamento Areopagus

on:
  push:
    branches:
      - main
      - feature/trein-2/trein-31/create-pipeline-staget-tests-build-migration
  pull_request:
    branches:
      - main
jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ghcr.io/thiagotfsilva/adonis-app:latest
      TZ: ${{ secrets.TZ }}
      PORT: ${{ secrets.PORT }}
      HOST: ${{ secrets.HOST }}
      LOG_LEVEL: ${{ secrets.HOST }}
      APP_KEY: ${{ secrets.APP_KEY }}
      NODE_ENV: ${{ secrets.NODE_ENV }}
      DB_HOST: localhost
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: root
      DB_DATABASE: my_database
    steps:
      - uses: actions/checkout@v3
      - name: Build and push image
        run: |
          docker login --username thiagotfsilva --password ${{ secrets.ACCESS_TOKEN_GIT }} ghrc.io
          docker build . --tag ${{ env.IMAGE_NAME }}
          docker push ${{ env.IMAGE_NAME }}
          docker run -d -p 3333:3333 --name app-container ${{ env.IMAGE_NAME }}
