name: Workflow treinamento Areopagus

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  IMAGE_NAME: ghcr.io/thiagotfsilva/adonis-app:latest
  TZ: ${{ secrets.TZ }}
  PORT: ${{ secrets.PORT }}
  HOST: ${{ secrets.HOST }}
  LOG_LEVEL: ${{ secrets.LOG_LEVEL }}
  APP_KEY: ${{ secrets.APP_KEY }}
  NODE_ENV: ${{ secrets.NODE_ENV }}
  DB_HOST: ${{ secrets.DB_HOST }}
  DB_PORT: ${{ secrets.DB_PORT }}
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_DATABASE: ${{ secrets.DB_DATABASE }}

jobs:
  tests_and_migrations:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Database
        run: docker compose up -d --build

      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install
      - run: npm run test
      - run: npm run migration

  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Github Registrey
        if: success()
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: thiagotfsilva
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image api
        run: docker build -t ${{ env.IMAGE_NAME }} .

      - name: Publish image api
        run: docker push ${{ env.IMAGE_NAME }}

      - name: Up Image
        run: |
          docker run -d \
            -p 3333:3333 \
            --name app-container \
            -e TZ=${{ secrets.TZ }} \
            -e PORT=${{ secrets.PORT }} \
            -e HOST=${{ secrets.HOST }} \
            -e LOG_LEVEL=${{ secrets.LOG_LEVEL }} \
            -e APP_KEY=${{ secrets.APP_KEY }} \
            -e NODE_ENV=${{ secrets.NODE_ENV }} \
            -e DB_HOST=${{ secrets.DB_HOST }}\
            -e DB_PORT=${{ secrets.DB_PORT }} \
            -e DB_USER=${{ secrets.DB_USER }} \
            -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
            -e DB_DATABASE=${{ secrets.DB_DATABASE }} \
            ${{ env.IMAGE_NAME }}
